hr {
  width: 100px;
  height: 2px;
  border: none;
  margin: 20px auto;
  background: #67768e;
}

.main-heading {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-heading);
  margin-top: 40px;
  text-align: center;
}

.main-text {
  color: var(--color-text);
  font-size: 18px;
  line-height: 34px;
}

@media screen and (max-width: 920px) {  
  .main-heading {
      font-size: 25px;
      margin-top: 0;
  }

  .main-text {
    font-size: 16px;
    line-height: 30px;
  }
}

